body {
    background: repeat-x center url("../Images/header_SUH1.png"), center url("../Images/29262.jpg");
    background-attachment: fixed;
    height: 12px;
}


main {
    margin: 100px 150px;
    font-size: 25px;
    height: 300px;
    display: flex;
    justify-content: center;
    border: 10px solid rgb(255, 69, 2);
    color: white;
}

h1 {
    font-family: 'Brush Script MT';
    color: coral;
    font-weight: 200;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.4;
    font-size: 40px;
}
/*css pentru elementele de nivel h1*/

p {
    display: flex;
    color: white;
    font-size: 25px;
    font-weight: bold;
    height: 200px;
    text-align: center;
    text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}
/*.content > h2 {
    display: flex;
    color: white;
    font-size: 25px;
    font-weight: bold;
    height: 200px;
    text-align: center;
    text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}*/ /*Stil de rezerva pentru un eventual nivel 2 de titlu*/