body {
    background: repeat-x center url("https://64.media.tumblr.com/695a3e0c3c3211c54ed231d206996678/tumblr_nmpaffO0uq1ushyv6o1_1280.png"), center url("../Images/29262.jpg");
    background-attachment: fixed;
    height: 12px;
}


main {
    margin: 100px 150px;
    font-size: 25px;
    height: 300px;
    display: flex;
    justify-content: center;
    border: 10px solid rgb(255, 69, 2);
    color: white;
}
p {
    display: flex;
    color: white;
    font-size: 25px;
    height: 200px;
    text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}
h2 {
    display: flex;
    color: white;
    font-size: 25px;
    height: 100px;
    text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}

footer {
    text-align: center;
    padding-bottom: 10px;
}