body {
    background: repeat-x center url("../Images/header_SUH1.png"), center url("../Images/29262.jpg");
    background-attachment: fixed;
    height: 12px;
}

h1 {
    font-family: 'Brush Script MT';
    color: coral;
    font-weight: 200;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.4;
    font-size: 40px;
}
/*css pentru elementele de nivel h1*/

main {
    margin: 100px 300px;
    font-size: 10px;
    height: 700px;
    display: flex;
    justify-content: center;
    border: 10px solid rgb(255, 69, 2);
    color:yellow;
}
p {
    color: white;
    font-size: 25px;
    height: 20px;
    text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
    text-align: center;
    position: relative; /*Pozitioneaza textul peste imagine in mod responsive*/
}

.flex-container > table, th, td {
    text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}
footer {
    border-radius: 5px;
    font-family: cursive;
    bottom: 0;
}

    footer .footer_container {
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        color: white;
        /*justify-content: center; */
        width: 90vw;
        margin: 0 5%;
        background-color: rgb(0, 0, 0, .5);
    }

.footer_container .image_quick_links {
    content: url("../Images/Footer_SuperMan.png");
    max-height: 200px;
    max-width: 150px;
    align-self: center;
}

.footer_container .image_find_us {
    content: url("../Images/Footer_The_Flash.png");
    height: 200px;
    width: 150px;
    align-self: center;
}

.footer_container .image_misc {
    content: url("../Images/Footer_Professor_X.png");
    height: 200px;
    width: 150px;
    align-self: center;
}

.footer_container ul {
    list-style-type: none;
}

.footer_browse h1 {
    color: rgb(255, 255, 255);
}

.footer_browse ul li {
    color: yellow;
}

footer .footer_find_us {
    color: white;
}

.footer_browse ul li a {
    color: red;
}

@media screen and (max-width: 1180px) {
    footer {
        font-size: 13px;
    }

    .footer_headers {
        font-size: 16px;
    }

    .footer_container #footer_image {
        height: 150px;
        width: 100px;
    }
}