h1 {
    font-family: 'Brush Script MT';
    color: coral;
    font-weight: 200;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.4;
    font-size: 40px;
}

/*css pentru elementele de nivel h1*/

main {
    display: flex;
    justify-content: center;
    color: yellow;
}

.international {
    justify-content: center;
    display: flex;
    position: static;
    color: white;
    font-size: 25px;
    height: 2%;
    text-align: center;
}

p {
    color: white;
    font-size: 25px;
    height: 20px;
    text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
    text-align: center;
    position: relative;
    /*Pozitioneaza textul peste imagine in mod responsive*/
}

.flex-container > table,
th,
td {
    justify-content: center;
    display: block;
    text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}
