h1 {
    font-family: 'Brush Script MT';
    color: coral;
    font-weight: 200;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.4;
    font-size: 40px;
}
/*css pentru elementele de nivel h1*/

main {
    margin: 100px 300px;
    font-size: 10px;
    height: 730px;
    display: flex;
    justify-content: center;
    border: 10px solid rgb(255, 69, 2);
    border-radius: 5px; /*Inceput pentru colturi rotunjite*/
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px; /*Final pentru colturi rotunjite*/
    background-color: rgb(0, 0, 0, .8);
    color: yellow;
}
p {
    color: white;
    font-size: 25px;
    height: 20px;
    text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
    text-align: center;
    position: relative; /*Pozitioneaza textul peste imagine in mod responsive*/
}

.flex-container > table, th, td {
    justify-content: center;
    display: block;
    text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}
@media only screen and (max-width: 1180px) {
    /* Pentru modul responsive*/
    .flex-container {
        width: 100%;
        height: 100%;
    }
    main {
        width: 100%;
        height: 100%;
    }
}


@media only screen and (max-width: 320px) {
    /* Pentru modul responsive*/
    .flex-container {
        width: 200%;
        height: fit-content();
        max-height:fit-content();
    }
    body {
        width: 200%;
        height: 100%;
    }

    main {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 1180px) {
    /* For mobile phones: */
    content {
        width: 100%;
        height: 100%;
    }

    main {
        width: 100%;
        height: 100%;
    }
}
