body {
    background: repeat-x center url("../Images/header_SUH1.png"), center url("../Images/29262.jpg");
    background-attachment: fixed;
    /*height: 50px; */
}

main {
    margin: 100px 300px;
    font-size: 100px;
    height: 700px;
    display: flex;
    justify-content: center;
    border: 10px solid rgb(255, 69, 2);
    color:yellow;
}