* {
    box-sizing: border-box;
    font-family: cursive;
}

.page_wrapper {
    margin: 0 auto;
    max-width: 1400px;
    width:100%
}

body {
    background: repeat-x center url("../Images/header_SUH1.png"), center url("../Images/29262.jpg");
    background-attachment: fixed;
}