* {
    box-sizing: border-box;

}

.page_wrapper {
    margin: 0 auto;
    max-width: 1400px;
    width:100%
}

body {
    background: repeat-x center url("https://64.media.tumblr.com/695a3e0c3c3211c54ed231d206996678/tumblr_nmpaffO0uq1ushyv6o1_1280.png"),
                center url("../Images/29262.jpg");
    background-attachment: fixed;
    /*height: 50px; */
}