.international {
    justify-content: center;
    display: flex;
    position: static;
    color: white;
    font-size: 25px;
    height: 2%;
    text-align: center;
}

.content,
.description1,
.description2,
.description3,
.description4 {
    justify-content: center;
    display: flex;
    color: white;
    font-size: 25px;
    font-weight: bold;
    height: 2%;
    text-align: center;
    text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}

@media screen and (max-width: 800px) {
    .content {
        font-size: 16px;
    }
}
