footer {
    border-radius: 5px;
    font-family: cursive;
    bottom: 0;
}

    footer .footer_container {
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        color: white;
        /*justify-content: center; */
        width: 90vw;
        margin: 0 5%;
        background-color: rgb(0, 0, 0, .5);
    }

.footer_container .image_quick_links {
    content: url("../Images/Footer_SuperMan.png");
    max-height: 200px;
    max-width: 150px;
    align-self: center;
}

.footer_container .image_find_us {
    content: url("../Images/Footer_The_Flash.png");
    height: 200px;
    width: 150px;
    align-self: center;
}

.footer_container .image_misc {
    content: url("../Images/Footer_Professor_X.png");
    height: 200px;
    width: 150px;
    align-self: center;
}

.footer_container ul {
    list-style-type: none;
}

.footer_browse h1 {
    color: rgb(255, 255, 255);
}

.footer_browse ul li {
    color: yellow;
}

footer .footer_find_us {
    color: white;
}

.footer_browse ul li a {
    color: red;
}

@media screen and (max-width: 1180px) {
    footer {
        font-size: 13px;
    }

    .footer_headers {
        font-size: 16px;
    }

    .footer_container #footer_image {
        height: 150px;
        width: 100px;
    }
}
