main {
    margin: 100px 150px;
    font-size: 25px;
    height: 325px;
    display: flex;
    justify-content: center;
    border: 10px solid rgb(255, 69, 2);
    background-color: rgb(0, 0, 0, .8);
    color: white;
}

/*h1 {
    font-family: 'Brush Script MT';
    color: white;
    font-weight: 100;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.4;
    font-size: 40px;
}*/
/*css pentru elementele de nivel h1*/

p {
    display: flex;
    color: white;
    font-size: 25px;
    font-weight: bold;
    height: 10px;
    text-align: left;
    text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}

.regulament {
    display: flex;
    color: white;
    font-size: 25px;
    font-weight: bold;
    height: 10px;
    text-align: center;
    justify-content: center;
    text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}
.content > h2 {
    font-family: 'Brush Script MT';
    color: white;
    font-weight: 100;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.4;
    font-size: 40px;
} /*Stil de rezerva pentru un eventual nivel 2 de titlu*/


  @media screen and (min-device-width: 325px) {
    
    main {
        display: block;
        width:304px;
        height: 891px;
    }
    h1 {
        display: block;
        width: 304px;
        height: 891px;
    }
}