body {
    background-color: #ded;
    font-family: Verdana, Geneva, sans-serif
}

.quiz__header {
    font-family: 'Baloo Da', cursive;
    padding-bottom: 32px;
    text-align: center
}

.quiz__header--block {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #8a2be2;
    margin-bottom: 32px;
    width: 32%
}

.quiz__header--title {
    color: #611bbd;
    font-size: 64px;
    font-weight: 700;
    text-align: center
}

.quiz__body {
    background: #f5f5f5;
    box-shadow: 4px 4px 11px 3px rgba(0, 0, 0, .3);
    margin: 48px auto;
    padding: 32px;
    max-width: 800px
}

.quiz__button {
    background-color: #dc143c;
    border: 1px solid #130269;
    border-radius: 4px;
    box-shadow: 4px 4px 11px 3px rgba(0, 0, 0, .3);
    font-family: 'Baloo Da', cursive;
    font-size: 24px;
    color: #fff;
    margin: 0 auto;
    padding: 12px;
    -webkit-transition: background-color .1s ease-out;
    transition: background-color .1s ease-out;
    width: 250px
}

    .quiz__button:hover {
        background-color: coral;
        -webkit-transition: background-color .15s ease-in;
        transition: background-color .15s ease-in
    }

.quiz__button--container {
    text-align: center
}

.quiz__question {
    font-size: 32px;
    color: #20b2aa;
    margin-bottom: 16px;
    text-align: center
}

.quiz__options {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #5f9ea0;
    cursor: pointer;
    margin-left: 8px;
    margin-bottom: 16px;
    padding: 12px;
    width: 32%
}

    .quiz__options:first-child {
        margin-left: 0
    }

.quiz__response {
    text-align: center
}

.quiz__result {
    color: #fff;
    margin: 8px auto 0;
    text-align: center;
    width: 80%
}

.quiz__info {
    font-family: 'Baloo Da', cursive;
    font-size: 24px;
    color: brown;
    padding-bottom: 32px;
    text-align: center
}

.correct {
    background-color: #0c0;
    font-family: 'Baloo Da', cursive;
    font-size: 24px;
    color: #fff;
    margin: 0 auto;
    padding: 12px 0;
    text-align: center;
    width: 80%
}

.wrong {
    background-color: #c00;
    font-family: 'Baloo Da', cursive;
    font-size: 24px;
    color: #fff;
    margin: 0 auto;
    padding: 12px 0;
    text-align: center;
    width: 80%
}
