.contact_container {
    margin: 7% 15%;
    border: 10px solid rgb(255, 69, 2, 0.8);
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: no-repeat center url("../Images/LogIn_Spidey.jpg");
    background-size: cover;
    height: 500px
}

main {
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.international {
    justify-content: center;
    display: flex;
    position: static;
    color: white;
    font-size: 25px;
    height: 2%;
    text-align: center;
}

.suh-column {
    display: flex;
    color: white;
    font-size: 25px;
    height: 6%;
    text-align: center;
    text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}

h4 {
    display: flex;
    color: white;
    font-size: 25px;
    height: 100px;
    text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}